body {
  margin: 0px;
  font-family: "Open Sans",Helvetica,sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(-45deg, #23A6D5, #23D5AB, #EE7752, #E73C7E);
  background-size: 400%, 400%;
  background-position: 100% 50%;
  animation: change 1.5s ease-in-out;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 16px;
}

.Spot {
  height: 120px;
  width: 120px;
  border: 2px solid white;
  box-sizing: border-box;
  transition: background .2s ease-out;
  background:none;
  color: white;
  font-size: 5rem;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.o {
  z-index: -99;
  animation: pop_up .2s cubic-bezier(0.8,1.5,0.1,1);
  height: 85px;
  width: 85px;
}

.x {
  z-index: -99;
  animation: pop_up .2s cubic-bezier(0.8,1.5,0.1,1);
  height: 78px;
  width: 78px;
}


.my_turn.available:hover {
  background: rgb(255, 255, 255, .2);
}

[id='0'], [id='1'], [id='2'] {border-top: none;}

[id='6'], [id='7'], [id='8'] {border-bottom: none;}

[id='0'], [id='3'], [id='6'] {border-left: none;}

[id='2'], [id='5'], [id='8'] {border-right: none;}

.hidden {
  display: none !important;
}

.matchmaking_button {
  height: 2.5rem;
  width: 12rem;
  border: none;
  background: white;
  font-size: 100%;
  border-radius: 32px;
}

.matchmaking_button:hover {
  filter: brightness(.8);
}


@keyframes change {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }

}

p {
  color: white;
  font-size: 2rem;
  font-stretch:ultra-expanded;
  letter-spacing: .025em;
  font-weight: 700;
}
.matchmaking {
  line-height: 1.3;
}

.play_again {
  height: 240px;
  width: 500px;
  background: linear-gradient(135deg, #EE7752, #E73C7E);
  border-radius: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: pop_up .2s cubic-bezier(0.8,1.5,0.1,1);
  box-sizing: border-box;
}

.play_again_text {
  margin-top: 0;
}

@keyframes pop_up {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);

  }
}


